<h2>User Tweets</h2>

<% @tweets.each do |tweet| %>
<ul>
  <li>Need to add user name once assocations added</li>
  <li><%= link_to tweet.content, tweet %></li>
  <li><%= image_tag tweet.image, :class => 'thumb' if tweet.image.present? %></li>
</ul>
<% end %>
