<% if @current_user.present? %>
  <div id="follow_form">
  <% if @current_user.followed_users.include? @user %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>
