

<% if @current_user.present? %>
<div>
  <h2>Your social networking platform</h2>
    <main>
      <h4>I know you are checking my url/paths are locked!</h4>
      <%= image_tag 'socialmedia', :class => 'home-image' %>
    </main>
    <aside>
      <h4>Lovely to see you here <%= @current_user.name %></h4>
    </aside>
</div>

  <% else %>
  <div>
    <h1>Social Networking<h1>
    <main>
      <p>This is a free social networking platform allowing registered members to post pictures and text throughout the day.
      <p>As a member you can post content as well as comment on other members posts.</p>
      <p>You have full control to update your profile page, adding a profile picture, biography and even add a title.</p>
      <p>Follow other users and find out more about them by looking at their profile pages.</p>
    </main>
    <aside>
      <h4>Click here to <%= link_to 'Login', login_path%> or <%= link_to 'Create an Account', new_user_path %></h4>
    </aside>

  </div>
<% end %>
