* {border: 1px solid green;}



/* Style the container */
.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 0 0 5px 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.home-page {
  font-size: 16px;
}
body {
  margin: 0;
}

h1 {
  margin: 12px 0 12px;
}

.thumb {
  height: 9em;
}

ul {
  list-style-type: none;
  padding: 10px 40px 10px 20px;
  border: 2px solid black;
}

li {
    list-style-type: none;
}

.form-group {

}

.icon {
  height: 2em;
  border-radius: 35px;
}

.profile {
  display: inline-block;
  display: flex
}

.right-align {
  justify-content: flex-end;
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

/* .align-centre {
  align-items: center;
} */

/* Style inputs, select elements and textareas */
input[type=text], input[type=password], input[type=email], input[class=form-control], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #a03c3c;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/************* NAVBAR CSS *****************/
/* Navbar container */
.navbar {
  display: flex;
  overflow: hidden;
  background-color: #a03c3c;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #de7878;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
